@creative-int:registry=https://npm-cache.luke-nittmann.workers.dev
@lnittman:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}
//npm-cache.luke-nittmann.workers.dev/:_authToken=${NPM_TOKEN}
